*{
 margin: 0;
 padding: 0;
 box-sizing: border-box;
}
html,body{
    width: 100%;
    height: 100%;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

:root{
    /* Background Color */
    --bg-primary-color:rgb(37, 37, 37);
    /* --bg-food-color:#ff3b3b   */

    /* Text color */
    --text-primary-color:rgb(227, 226, 226);

    
    
}

.btn{
    padding: 12px 24px;
    border-radius: 4px;
    border: none;
    transition: all 0.8 ease;
    cursor: pointer;
}
.btn:hover{
    transform: scale(1.1);
}


main{
    width: 100%;
    height: 100%;
    background-color: var(--bg-primary-color);
    color: var(--text-primary-color);

}

 .container{
    padding: 48px ;
    display: flex;
    flex-direction: column;
    gap: 12px;
    height: 100%;
}

.infos{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.info{
   border: 1px solid #333333;
    padding: 8px 16px ;
    border-radius: 15px;  
}

#speed{
    border: 1px solid #333333;
    padding: 8px 16px ;
    border-radius: 15px;
outline: none;
background-color: var(--bg-primary-color);
color: var(--text-primary-color);
font-weight: bold;
font-size: 17px;
}
.board{
    
    border: 1px solid #333333;
    flex-grow: 1;
    display: grid;
    grid-template-columns: repeat(auto-fill,minmax(50px,1fr));
    grid-template-rows: repeat(auto-fill,minmax(50px,1fr));
}

.block{
    width: 50px;
    height: 50px;
    border: 1px solid #333333;
}
.fill{
    background-color: #fdfdfc;
}

.food{
    background-color: red;
}



.modal{
    height: 100vh;
    width: 100vw;
    position: fixed;
    top: 0;
    background-color: #33333383;
    backdrop-filter: blur(4px);
    display: flex;
    align-items: center;
    justify-content: center;
}

.modal .game-start, .modal .game-over{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 32px;
}
.modal .game-over{
    display: none;
}

@media only  screen and (max-width:768px) {
    .container{
        padding: 48px;
    }
}